.submit_form{
  display: flex;
  border: 0.5px solid $gray;
  border-radius: 30px;
  width: 500px;
  flex-direction: column;
  margin: $container-margin-y $container-margin-x;


  > h2{
    padding: $container-padding-y $container-padding-x;
    text-align: center;
    color: $white;
  }

  > ul{
    padding: $container-padding-y $container-padding-x;

    > li{
      display: flex;
      flex-direction: column;
      padding: $or-padding-y 0;
      > input{
        padding: $input-padding-y 0;
        background: $body-bg;
        border: none;
        border-bottom: 1px solid $gray;
        color: $white;
      }
      &:nth-child(3){
        padding: $input-padding-y 0;
        color: $primary-color;
      }
      &:nth-child(4){
        @include wide-btn-variant($primary-color, $body-bg, $primary-color);
      }
      &:nth-child(5){
        padding: $or-padding-y 0;
        justify-content: center;
        align-items: center;
      }
      &:nth-child(6){
        @include wide-btn-variant($white, $primary-color, $primary-color);
        margin-bottom: $container-padding-y;
      }
    }
  }
}